{{if type=='0'}}
<div class="cell-more">
	<div class="weui-cell weui-cell_access" style="color: #333;">
		<div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
			<label>深圳</label>
		</div>
		<div class="weui-cell__bd">
			<p>《唤醒最美好的自己》</p>
			<p style="font-size: 13px;color: #888888;padding-left: .10rem;">
				<span>6月2日</span>
				<span>半天/下午</span>
			</p>
		</div>
		<div class="weui-cell__ft">467期</div>
	</div>
	<div class="cell-more-cender">
		<div class="page__bd clearing-details clearing-details_after">
			<div class="weui-form-preview">
				<div class="weui-form-preview__bd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label ">日期</label>
						<span class="weui-form-preview__value">6月2日</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">期数</label>
						<span class="weui-form-preview__value">467</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">时间</label>
						<span class="weui-form-preview__value">半天 / 下午</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">主办分院</label>
						<span class="weui-form-preview__value">深圳</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">主办院长</label>
						<span class="weui-form-preview__value">总部</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">讲师</label>
						<span class="weui-form-preview__value">海燕老师</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
{{if type=='1'}}
<div class="cell-more cell-more-card">
	<div class="weui-form-preview weui-cell weui-cell_access">
		<div class="weui-form-preview__bd">
			<div class="weui-form-preview__item headline">
				<label class="weui-form-preview__label">课程活动</label>
				<span class="weui-form-preview__value">《唤醒最美好的自己》</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label ">日期</label>
				<span class="weui-form-preview__value">6月2日</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">期数</label>
				<span class="weui-form-preview__value">467</span>
			</div>
			<div class="cell-more-cender">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">时间</label>
					<span class="weui-form-preview__value">半天 / 下午</span>
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">主办分院</label>
					<span class="weui-form-preview__value">深圳</span>
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">主办院长</label>
					<span class="weui-form-preview__value">总部</span>
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">讲师</label>
					<span class="weui-form-preview__value">海燕老师</span>
				</div>
			</div>
		</div>
		<div class="weui-cell__ft"></div>
	</div>
</div>
{{/if}}

