<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>{{title}}</title>
	<!-- 引入 WeUI -->

	<link rel="stylesheet" href="../static/css/weui.min.css">
	<!-- <link rel="stylesheet" href="../static/lib/font-iconfont/iconfont.css"> -->
	<link rel="stylesheet" href="../static/css/main.css">
	<script src="../static/lib/font-iconfont/iconfont.js" async></script>
		<!-- <link rel="stylesheet" href="../static/css/mall.css"> -->
	
	{{if clearing}}
		<!-- <link rel="stylesheet" href="../static/css/clearing.css"> -->
	{{/if}}
	{{if college}}
		<!-- <link rel="stylesheet" href="../static/css/home.css"> -->
		<!-- <link rel="stylesheet" href="../static/css/college.css"> -->
	{{/if}}
	{{if course}}
		<!-- <link rel="stylesheet" href="../static/css/mall.css"> -->
	{{/if}}
	{{if dean}}
		<!-- <link rel="stylesheet" href="../static/css/agency.css"> -->
	{{/if}}
	{{if joincourse}}
		<!-- <link rel="stylesheet" href="../static/css/join_course.css"> -->
	{{/if}}
	{{if live}}
		<!-- <link rel="stylesheet" href="../static/css/live.css"> -->
	{{/if}}
	{{if master}}
		<!-- live -->
		<!-- <link rel="stylesheet" href="../static/css/master.css"> -->
		<script src="../static/js/chat.js"></script>
	{{/if}}
	{{if management}}
		<!-- <link rel="stylesheet" href="../static/css/management.css"> -->
	{{/if}}
	{{if home}}
		<!-- <link rel="stylesheet" href="../static/css/home.css"> -->
	{{/if}}
	{{if mine}}
		<!-- <link rel="stylesheet" href="../static/css/mine.css"> -->
	{{/if}}
	{{if link}}
		<!-- <link rel="stylesheet" href="../static/css/{{link}}.css"> -->
	{{/if}}
	{{if member}}

	{{/if}}
	{{if schoolBegins}}

	{{/if}}
		
	{{if !swiperlive}}
		<script src="../static/js/zepto.min.js"></script>
	{{/if}}
	{{if swiper}}
		<link rel="stylesheet" href="../static/lib/swiper/swiper-3.3.1.min.css">
		<script src="../static/js/swiper-3.3.1.jquery.min.js"></script>
	{{/if}}
	
	{{if swiperlive}}
		<link rel="stylesheet" href="../static/lib/swiper/swiper-3.3.1.min.css">
		<script src="../static/js/jquery-2.1.4.min.js"></script>
		<script src="../static/js/swiper-3.3.1.jquery.min.js"></script>
	{{/if}}
		<script src="../static/js/common.js"></script>

</head>
